

/* CSS for form */

.formpage {
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 3vw;
    padding: 0px;
    margin: 0px;

}
label {
	background-color: #0973ba;
	width: 100%;
	color: white;
}
.required:after {
    content:" *";
    color: red;
}


/* CSS for frontpage */

.background {
	background-image: url(https://sites.google.com/site/hawaiianmonkseal0/_/rsrc/1401219255596/survival-adaptations/reef.jpg);
}
