/* CSS for front page*/
.frontpage {
	text-align: center;
	font-family: "Noto Sans", sans-serif;
	font-size: 2.5vw;
	padding: 0px;
	margin: 0px;
}

.header {
	background-color: #0973ba;
	width: 100%;
	color: white;
}

.link {
	background-color: #0973ba;
	width: 100%;
	color: white;
}

a{
    font-weight: bold;
    color: #67e6a6; 
}
a:hover {
    color: #f2b346;
}

/* CSS for form */

.formpage {
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 3vw;
    padding: 0px;
    margin: 0px;

}
label {
	background-color: #0973ba;
	width: 100%;
	color: white;
}
.required:after {
    content:" *";
    color: red;
}
